<!-- start loader -->
<div id="pageloader-overlay" class="visible incoming">
  <div class="loader-wrapper-outer">
    <div class="loader-wrapper-inner">
      <div class="loader"></div>
    </div>
  </div>
</div>
<!-- end loader -->

<!-- Start wrapper-->
<div id="wrapper">

  <!--Start sidebar-wrapper-->
  <div id="sidebar-wrapper" class="bg-theme bg-theme9" data-simplebar="" data-simplebar-auto-hide="true">
    <div class="brand-logo">
      <a href="index.html">
        <img src="../../assets/images/logo-icon.png" class="logo-icon" alt="logo icon">
        <h5 class="logo-text">Dashtreme Admin</h5>
      </a>
    </div>
    <div class="user-details">
      <div class="media align-items-center user-pointer collapsed" data-toggle="collapse" data-target="#user-dropdown">
        <div class="avatar"><img class="mr-3 side-user-img"
            src="https://scontent.fsgn2-1.fna.fbcdn.net/v/t1.0-0/p370x247/28167856_781755608695345_8810326178923842217_n.jpg?_nc_cat=102&_nc_oc=AQkUAtVzCyV_cxv_0kPmX5Xjqdq1MHX7fS29r8KXoXSKD3IJf7vKF3FM_7YvGr37wJs&_nc_ht=scontent.fsgn2-1.fna&oh=e76743e41c28481910ce94e5a76fb6c3&oe=5E4F9586"
            alt="user avatar"></div>
        <div class="media-body">
          <h6 class="side-user-name">HuynhVinh</h6>
        </div>
      </div>
      <div id="user-dropdown" class="collapse">
        <ul class="user-setting-menu">
          <li><a href="javaScript:void();"><i class="icon-user"></i> My Profile</a></li>
          <li><a href="javaScript:void();"><i class="icon-settings"></i> Setting</a></li>
          <li><a href="http://localhost:5000"><i class="icon-power"></i> Logout</a></li>
        </ul>
      </div>
    </div>
    <ul class="sidebar-menu do-nicescrol">
      <li class="sidebar-header">MAIN NAVIGATION</li>
      <li>
        <a href="javaScript:void();" class="waves-effect">
          <i class="zmdi zmdi-view-dashboard"></i> <span>Dashboard</span><i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="sidebar-submenu">
          <li><a href="pages-404.html"><i class="zmdi zmdi-long-arrow-right"></i> Ecommerce</a></li>
          <li><a href="pages-404.html"><i class="zmdi zmdi-long-arrow-right"></i> Logistics</a></li>
        </ul>
      </li>
      <li>
        <a href="javaScript:void();" class="waves-effect">
          <i class="zmdi zmdi-format-list-bulleted"></i> <span>Quản Lí Sản Phẩm</span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="sidebar-submenu">
          <li><a href="/products/new-product"><i class="zmdi zmdi-long-arrow-right"></i> Thêm Sản Phẩm</a></li>
          <li><a href="/products/list"><i class="zmdi zmdi-long-arrow-right"></i> Danh Sách Sản Phẩm</a></li>
        </ul>
      </li>
      <li>
        <a href="javaScript:void();" class="waves-effect">
          <i class="zmdi zmdi-format-list-bulleted"></i> <span>Quản Lí Danh Mục</span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="sidebar-submenu">
          <li><a href="/categorys/new-category"><i class="zmdi zmdi-long-arrow-right"></i> Thêm Danh Mục</a></li>
          <li><a href="/categorys/list"><i class="zmdi zmdi-long-arrow-right"></i> Danh Sách Danh Mục</a></li>
        </ul>
      </li>

      <li>
        <a href="javaScript:void();" class="waves-effect">
          <i class="zmdi zmdi-format-list-bulleted"></i> <span>Hóa Đơn</span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="sidebar-submenu">
            <li><a href="/orders/list"><i class="zmdi zmdi-long-arrow-right"></i> Danh sách Hóa đơn</a></li>
          </ul>
        </li>
    </li>
    <li>
        <a href="javaScript:void();" class="waves-effect">
          <i class="zmdi zmdi-format-list-bulleted"></i> <span>Khách Hàng</span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="sidebar-submenu">
            <li><a href="/customers/list"><i class="zmdi zmdi-long-arrow-right"></i> Danh sách Khách Hàng</a></li>
          </ul>
        </li>
    </li>
    <li>
      <a href="javaScript:void();" class="waves-effect">
        <i class="zmdi zmdi-email"></i>
        <span>Tin Nhắn</span>
        <small class="badge float-right badge-warning">12</small>
      </a>
      <ul class="sidebar-submenu">
        <li><a href="https://www.messenger.com/"><i class="zmdi zmdi-long-arrow-right"></i> Inbox</a></li>
        <li><a href="mail-compose.html"><i class="zmdi zmdi-long-arrow-right"></i> Compose</a></li>
        <li><a href="mail-read.html"><i class="zmdi zmdi-long-arrow-right"></i> Read Mail</a></li>
      </ul>
    </li>
    <li>
      <a href="javaScript:void();" class="waves-effect">
        <i class="zmdi zmdi-layers"></i>
        <span>UI Elements</span> <i class="fa fa-angle-left pull-right"></i>
      </a>
      <ul class="sidebar-submenu">
        <li><a href="ui-typography.html"><i class="zmdi zmdi-long-arrow-right"></i> Typography</a></li>
        <li><a href="ui-cards.html"><i class="zmdi zmdi-long-arrow-right"></i> Cards</a></li>
        <li><a href="ui-modals.html"><i class="zmdi zmdi-long-arrow-right"></i> Modals</a></li>
        <li><a href="ui-sweet-alert.html"><i class="zmdi zmdi-long-arrow-right"></i> Sweet Alerts</a></li>
      </ul>
    </li>

    <li>
      <a href="javaScript:void();" class="waves-effect">
        <i class="zmdi zmdi-chart"></i> <span>Charts</span>
        <i class="fa fa-angle-left float-right"></i>
      </a>
      <ul class="sidebar-submenu">
        <li><a href="charts-chartjs.html"><i class="zmdi zmdi-long-arrow-right"></i> Chart JS</a></li>
        <li><a href="charts-morris.html"><i class="zmdi zmdi-long-arrow-right"></i> Morris Charts</a></li>
        <li><a href="charts-sparkline.html"><i class="zmdi zmdi-long-arrow-right"></i> Sparkline Charts</a></li>
        <li><a href="charts-peity.html"><i class="zmdi zmdi-long-arrow-right"></i> Peity Charts</a></li>
        <li><a href="charts-other.html"><i class="zmdi zmdi-long-arrow-right"></i> Other Charts</a></li>
      </ul>
    </li>
    <li>
      <a href="javaScript:void();" class="waves-effect">
        <i class="zmdi zmdi-invert-colors"></i> <span>UI Icons</span>
        <i class="fa fa-angle-left float-right"></i>
      </a>
      <ul class="sidebar-submenu">
        <li><a href="icons-font-awesome.html"><i class="zmdi zmdi-long-arrow-right"></i> Font Awesome</a></li>
        <li><a href="icons-material-designs.html"><i class="zmdi zmdi-long-arrow-right"></i> Material Design</a></li>
        <li><a href="icons-themify.html"><i class="zmdi zmdi-long-arrow-right"></i> Themify Icons</a></li>
        <li><a href="icons-simple-line-icons.html"><i class="zmdi zmdi-long-arrow-right"></i> Line Icons</a></li>
        <li><a href="icons-flags.html"><i class="zmdi zmdi-long-arrow-right"></i> Flag Icons</a></li>
      </ul>
    </li>
    <li>
      <a href="calendar.html" class="waves-effect">
        <i class="zmdi zmdi-calendar-check"></i> <span>Calendar</span>
        <small class="badge float-right badge-light">New</small>
      </a>
    </li>


    <li>
      <a href="javaScript:void();" class="waves-effect">
        <i class="zmdi zmdi-lock"></i> <span>Authentication</span>
        <i class="fa fa-angle-left float-right"></i>
      </a>
      <ul class="sidebar-submenu">
        <li><a href="authentication-signin.html"><i class="zmdi zmdi-long-arrow-right"></i> SignIn 1</a></li>
        <li><a href="authentication-signup.html"><i class="zmdi zmdi-long-arrow-right"></i> SignUp 1</a></li>
        <li><a href="authentication-signin2.html"><i class="zmdi zmdi-long-arrow-right"></i> SignIn 2</a></li>
        <li><a href="authentication-signup2.html"><i class="zmdi zmdi-long-arrow-right"></i> SignUp 2</a></li>
        <li><a href="authentication-lock-screen.html"><i class="zmdi zmdi-long-arrow-right"></i> Lock Screen</a></li>
        <li><a href="authentication-reset-password.html"><i class="zmdi zmdi-long-arrow-right"></i> Reset Password 1</a>
        </li>
        <li><a href="authentication-reset-password2.html"><i class="zmdi zmdi-long-arrow-right"></i> Reset Password
            2</a></li>
      </ul>
    </li>
    <li>
      <a href="widgets.html" class="waves-effect">
        <i class="zmdi zmdi-widgets"></i> <span>Widgets</span>
        <small class="badge float-right badge-danger">10</small>
      </a>
    </li>

    <li>
      <a href="javaScript:void();" class="waves-effect">
        <i class="zmdi zmdi-grid"></i> <span>Tables</span>
        <i class="fa fa-angle-left float-right"></i>
      </a>
      <ul class="sidebar-submenu">
        <li><a href="table-simple-tables.html"><i class="zmdi zmdi-long-arrow-right"></i> Simple Tables</a></li>
        <li><a href="table-data-tables.html"><i class="zmdi zmdi-long-arrow-right"></i> Data Tables</a></li>
      </ul>
    </li>

    <li>
      <a href="javaScript:void();" class="waves-effect">
        <i class="zmdi zmdi-map"></i> <span>Maps</span>
        <i class="fa fa-angle-left float-right"></i>
      </a>
      <ul class="sidebar-submenu">
        <li><a href="maps-google.html"><i class="zmdi zmdi-long-arrow-right"></i> Google Maps</a></li>
        <li><a href="maps-vector.html"><i class="zmdi zmdi-long-arrow-right"></i> Vector Maps</a></li>
      </ul>
    </li>

    <li>
      <a href="javaScript:void();" class="waves-effect">
        <i class="zmdi zmdi-collection-folder-image"></i> <span>Sample Pages</span>
        <i class="fa fa-angle-left float-right"></i>
      </a>
      <ul class="sidebar-submenu">
        <li><a href="pages-invoice.html"><i class="zmdi zmdi-long-arrow-right"></i> Invoice</a></li>
        <li><a href="pages-user-profile.html"><i class="zmdi zmdi-long-arrow-right"></i> User Profile</a></li>
        <li><a href="pages-blank-page.html"><i class="zmdi zmdi-long-arrow-right"></i> Blank Page</a></li>
        <li><a href="pages-coming-soon.html"><i class="zmdi zmdi-long-arrow-right"></i> Coming Soon</a></li>
        <li><a href="pages-403.html"><i class="zmdi zmdi-long-arrow-right"></i> 403 Error</a></li>
        <li><a href="pages-404.html"><i class="zmdi zmdi-long-arrow-right"></i> 404 Error</a></li>
        <li><a href="pages-500.html"><i class="zmdi zmdi-long-arrow-right"></i> 500 Error</a></li>
      </ul>
    </li>

    <li>
      <a href="javaScript:void();" class="waves-effect">
        <i class="fa fa-share"></i> <span>Multilevel</span>
        <i class="fa fa-angle-left pull-right"></i>
      </a>
      <ul class="sidebar-submenu">
        <li><a href="javaScript:void();"><i class="zmdi zmdi-long-arrow-right"></i> Level One</a></li>
        <li>
          <a href="javaScript:void();"><i class="zmdi zmdi-long-arrow-right"></i> Level One <i
              class="fa fa-angle-left pull-right"></i></a>
          <ul class="sidebar-submenu">
            <li><a href="javaScript:void();"><i class="zmdi zmdi-long-arrow-right"></i> Level Two</a></li>
            <li>
              <a href="javaScript:void();"><i class="zmdi zmdi-long-arrow-right"></i> Level Two <i
                  class="fa fa-angle-left pull-right"></i></a>
              <ul class="sidebar-submenu">
                <li><a href="javaScript:void();"><i class="zmdi zmdi-long-arrow-right"></i> Level Three</a></li>
                <li><a href="javaScript:void();"><i class="zmdi zmdi-long-arrow-right"></i> Level Three</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a href="javaScript:void();" class="waves-effect"><i class="zmdi zmdi-long-arrow-right"></i> Level One</a>
        </li>
      </ul>
    </li>
    <li class="sidebar-header">LABELS</li>
    <li><a href="javaScript:void();" class="waves-effect"><i class="zmdi zmdi-coffee text-danger"></i>
        <span>Important</span></a></li>
    <li><a href="javaScript:void();" class="waves-effect"><i class="zmdi zmdi-chart-donut text-success"></i>
        <span>Warning</span></a></li>
    <li><a href="javaScript:void();" class="waves-effect"><i class="zmdi zmdi-share text-info"></i>
        <span>Information</span></a></li>
    </ul>

  </div>
  <!--End sidebar-wrapper-->

  <!--Start topbar header-->
  <header class="topbar-nav">
    <nav class="navbar navbar-expand fixed-top">
      <ul class="navbar-nav mr-auto align-items-center">
        <li class="nav-item">
          <a class="nav-link toggle-menu" href="javascript:void();">
            <i class="icon-menu menu-icon"></i>
          </a>
        </li>
        <li class="nav-item">
          <form class="search-bar">
            <input type="text" class="form-control" id="search_input" placeholder="Tìm Kiếm">
            <a href="sinhvien/danh-sach"><i class="icon-magnifier"></i></a>
          </form>
        </li>
      </ul>

      <ul class="navbar-nav align-items-center right-nav-link">
        <li class="nav-item dropdown-lg">
          <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown"
            href="javascript:void();">
            <i class="fa fa-envelope-open-o"></i><span class="badge badge-warning badge-up">12</span></a>
          <div class="dropdown-menu dropdown-menu-right">
            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                You have 12 new messages
                <span class="badge badge-light">12</span>
              </li>
              <li class="list-group-item">
                <a href="javaScript:void();">
                  <div class="media">
                    <div class="avatar"><img class="align-self-start mr-3"
                        src="../../assets/images/avatars/avatar-5.png" alt="user avatar"></div>
                    <div class="media-body">
                      <h6 class="mt-0 msg-title">Jhon Deo</h6>
                      <p class="msg-info">Lorem ipsum dolor sit amet...</p>
                      <small>Today, 4:10 PM</small>
                    </div>
                  </div>
                </a>
              </li>
              <li class="list-group-item">
                <a href="javaScript:void();">
                  <div class="media">
                    <div class="avatar"><img class="align-self-start mr-3"
                        src="../../assets/images/avatars/avatar-6.png" alt="user avatar"></div>
                    <div class="media-body">
                      <h6 class="mt-0 msg-title">Sara Jen</h6>
                      <p class="msg-info">Lorem ipsum dolor sit amet...</p>
                      <small>Yesterday, 8:30 AM</small>
                    </div>
                  </div>
                </a>
              </li>
              <li class="list-group-item">
                <a href="javaScript:void();">
                  <div class="media">
                    <div class="avatar"><img class="align-self-start mr-3"
                        src="../../assets/images/avatars/avatar-7.png" alt="user avatar"></div>
                    <div class="media-body">
                      <h6 class="mt-0 msg-title">Dannish Josh</h6>
                      <p class="msg-info">Lorem ipsum dolor sit amet...</p>
                      <small>5/11/2018, 2:50 PM</small>
                    </div>
                  </div>
                </a>
              </li>
              <li class="list-group-item">
                <a href="javaScript:void();">
                  <div class="media">
                    <div class="avatar"><img class="align-self-start mr-3"
                        src="../../assets/images/avatars/avatar-8.png" alt="user avatar"></div>
                    <div class="media-body">
                      <h6 class="mt-0 msg-title">Katrina Mccoy</h6>
                      <p class="msg-info">Lorem ipsum dolor sit amet.</p>
                      <small>1/11/2018, 2:50 PM</small>
                    </div>
                  </div>
                </a>
              </li>
              <li class="list-group-item text-center"><a href="javaScript:void();">See All Messages</a></li>
            </ul>
          </div>
        </li>

        <li class="nav-item dropdown-lg">
          <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown"
            href="javascript:void();">
            <i class="fa fa-bell-o"></i><span class="badge badge-info badge-up">14</span></a>
          <div class="dropdown-menu dropdown-menu-right">
            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                You have 14 Notifications
                <span class="badge badge-info">14</span>
              </li>
              <li class="list-group-item">
                <a href="javaScript:void();">
                  <div class="media">
                    <i class="zmdi zmdi-accounts fa-2x mr-3 text-info"></i>
                    <div class="media-body">
                      <h6 class="mt-0 msg-title">New Registered Users</h6>
                      <p class="msg-info">Lorem ipsum dolor sit amet...</p>
                    </div>
                  </div>
                </a>
              </li>
              <li class="list-group-item">
                <a href="javaScript:void();">
                  <div class="media">
                    <i class="zmdi zmdi-coffee fa-2x mr-3 text-warning"></i>
                    <div class="media-body">
                      <h6 class="mt-0 msg-title">New Received Orders</h6>
                      <p class="msg-info">Lorem ipsum dolor sit amet...</p>
                    </div>
                  </div>
                </a>
              </li>
              <li class="list-group-item">
                <a href="javaScript:void();">
                  <div class="media">
                    <i class="zmdi zmdi-notifications-active fa-2x mr-3 text-danger"></i>
                    <div class="media-body">
                      <h6 class="mt-0 msg-title">New Updates</h6>
                      <p class="msg-info">Lorem ipsum dolor sit amet...</p>
                    </div>
                  </div>
                </a>
              </li>
              <li class="list-group-item text-center"><a href="javaScript:void();">See All Notifications</a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item language">
          <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown"
            href="javascript:void();"><i class="fa fa-flag"></i></a>
          <ul class="dropdown-menu dropdown-menu-right">
            <li class="dropdown-item"> <i class="flag-icon flag-icon-gb mr-2"></i> English</li>
            <li class="dropdown-item"> <i class="flag-icon flag-icon-fr mr-2"></i> French</li>
            <li class="dropdown-item"> <i class="flag-icon flag-icon-cn mr-2"></i> Chinese</li>
            <li class="dropdown-item"> <i class="flag-icon flag-icon-de mr-2"></i> German</li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown" href="#">
            <span class="user-profile"><img
                src="https://scontent.fsgn2-1.fna.fbcdn.net/v/t1.0-0/p370x247/28167856_781755608695345_8810326178923842217_n.jpg?_nc_cat=102&_nc_oc=AQkUAtVzCyV_cxv_0kPmX5Xjqdq1MHX7fS29r8KXoXSKD3IJf7vKF3FM_7YvGr37wJs&_nc_ht=scontent.fsgn2-1.fna&oh=e76743e41c28481910ce94e5a76fb6c3&oe=5E4F9586"
                class="img-circle" alt="user avatar"></span>
          </a>
          <ul class="dropdown-menu dropdown-menu-right">
            <li class="dropdown-item user-details">
              <a href="javaScript:void();">
                <div class="media">
                  <div class="avatar"><img class="align-self-start mr-3"
                      src="https://scontent.fsgn2-1.fna.fbcdn.net/v/t1.0-0/p370x247/28167856_781755608695345_8810326178923842217_n.jpg?_nc_cat=102&_nc_oc=AQkUAtVzCyV_cxv_0kPmX5Xjqdq1MHX7fS29r8KXoXSKD3IJf7vKF3FM_7YvGr37wJs&_nc_ht=scontent.fsgn2-1.fna&oh=e76743e41c28481910ce94e5a76fb6c3&oe=5E4F9586"
                      alt="user avatar"></div>
                  <div class="media-body">
                    <h6 class="mt-2 user-title">huynhvinh</h6>
                    <p class="user-subtitle">huynhvinh.dev@gmail.com</p>
                  </div>
                </div>
              </a>
            </li>
            <li class="dropdown-divider"></li>
            <li class="dropdown-item"><i class="icon-envelope mr-2"></i> Tin Nhắn</li>
            <li class="dropdown-divider"></li>
            <li class="dropdown-item"><i class="icon-wallet mr-2"></i> Tài Khoản</li>
            <li class="dropdown-divider"></li>
            <li class="dropdown-item"><i class="icon-settings mr-2"></i> Setting</li>
            <li class="dropdown-divider"></li>
            <a href="/user/dang-nhap">
              <li class="dropdown-item"><i class="icon-power mr-2"></i> Đăng Xuất</li>
            </a>
          </ul>
        </li>
      </ul>
    </nav>
  </header>
  <!--End topbar header-->

  <div class="clearfix"></div>

  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumb-->
      <div class="row pt-2 pb-2">
        <div class="col-sm-9">
          <h4 class="page-title">Quản Lý Sản Phẩm</h4>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javaScript:void();">Admin</a></li>
            <li class="breadcrumb-item"><a href="javaScript:void();">Quản Lí</a></li>
            <li class="breadcrumb-item active" aria-current="page">Quản Lí Sản Phẩm</li>
          </ol>
        </div>
        <div class="col-sm-3">
          <div class="btn-group float-sm-right">
            <button type="button" class="btn btn-outline-primary waves-effect waves-light"><i
                class="fa fa-cog mr-1"></i> Contact</button>
            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split waves-effect waves-light"
              data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <div class="dropdown-menu">
              <a href="https://www.facebook.com/TOTHANHDAT.TTD" class="dropdown-item">Facebook</a>
              <a href="https://github.com/tothanhdat999" class="dropdown-item">Github</a>
              <a href="https://khotemplate.vn/" class="dropdown-item">Website</a>
              <div class="dropdown-divider"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Breadcrumb-->
      <!-- Bootstrap core JavaScript-->